<form action="/signup" method="post">
    <input type="email" name="email" placeholder="insert email">
    <input type="password" name="password" placeholder="inset password">

    <button type="submit">
        signup 
    </button>
</form>