<% if (signupMessage) { %>
    <div><%= signupMessage %></div>
<% } %>

<!-- form, la ruta esta en el action y se usa el metodo post-->
<form action="/signup" method="post"> 
    <!-- input email -->
    <input type="email" name="email" placeholder="insert email"> 
    <!-- input password -->
    <input type="password" name="password" placeholder="inset password">
    <!-- buttom submit -->
    <button type="submit">
        signup 
    </button>
</form>